.movie_title {
  margin-top: -20px;
  font-size: 60px;
  font-weight: bold;
  color: aquamarine;
}

.movie_input {
  color: black;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  font-family: 20px;
}

.movie_btn {
  padding: 7px 20px;
  border-radius: 8px;
  border: none;
  color: black;
  font-size: 20px;
  &&:hover {
    background-color: rgb(5, 109, 109);
    cursor: pointer;
    color: aliceblue;
  }
}

.movie_content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
