.movie_list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 30px;
}

.movie_item {
  list-style: none;
  font-size: 20px;
  color: rgb(188, 238, 221);
  &&:hover {
    color: rgb(5, 109, 109);
    cursor: pointer;
  }
}

.movie_title {
  text-align: center;
  color: rgb(188, 238, 221);
}

.movie_img {
  width: 100%;
  max-width: 100vw;
  height: auto;
  max-height: 100vh;
  object-fit: contain;
  margin: 0 auto;
}

.movie_text {
  text-align: center;
  color: rgb(188, 238, 221);
}
.movie_load {
  font-size: 40px;
  color: rgb(188, 238, 221);
}

.movie_btn_content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.movie_btn_back {
  margin-top: 50px;
  padding: 7px 20px;
  border-radius: 8px;
  border: none;
  color: black;
  background-color: rgb(188, 238, 221);
  font-size: 20px;
  &&:hover {
    background-color: rgb(5, 109, 109);
    cursor: pointer;
    color: aliceblue;
  }
}
