.list {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.item {
  flex: 1 1 calc(200px - 20px);
  max-width: calc(200px - 20px);
  box-sizing: border-box;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.5s;
}

.item:hover {
  transform: scale(1.15);
}

.item img {
  text-align: center;
  width: 100%;
  height: auto;
}

.item a {
  text-decoration: none;
  color: rgb(188, 238, 221);
  font-weight: bold;
}
